<!--Binding-->
<!--<app-string-interpolation></app-string-interpolation>-->
<!--<app-property-binding></app-property-binding>-->
<!--<app-event-binding></app-event-binding>-->
<!--<app-two-way-binding></app-two-way-binding>-->

<!--Build in directives-->
<!--<app-ng-if></app-ng-if>-->
<!--<app-ng-if-else></app-ng-if-else>-->
<!--<app-ng-style></app-ng-style>-->
<!--<app-ng-class></app-ng-class>-->
<!--<app-ng-for></app-ng-for>-->
<!--<app-ng-switch></app-ng-switch>-->

<!--Component communication-->
<!--<app-users></app-users>-->
<!--<app-zoo></app-zoo>-->

<!--Local reference and ViewChild-->
<!--<app-local-reference></app-local-reference>-->
<!--<app-view-child></app-view-child>-->
<!--<app-ng-content></app-ng-content>-->

<!--Lifecycle events-->
<!--<app-on-events></app-on-events>-->

<!--Directives-->
<!--<app-ping></app-ping>-->

<!--Services-->
<!--<app-logging></app-logging>-->
<!--<app-hierarchical></app-hierarchical>-->
<!--<app-account></app-account>-->


<!--Routing-->
<!--<ul>-->
<!--    <li><a routerLink="/">Home</a></li>-->
<!--    <li><a routerLink="/java">Java</a></li>-->
<!--    <li><a [routerLink]="['/python']">Python</a></li>-->
<!--&lt;!&ndash;    <li><a [routerLink]="['/python', 123]">Python</a></li>&ndash;&gt;-->
<!--</ul>-->
<!--<router-outlet></router-outlet>-->

<!--Http-->
<!--<app-base-http></app-base-http>-->
